@charset "UTF-8";
a {
  color: #0076CE;
}
a:hover {
  text-decoration: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a9b1b4;
  opacity: 1;
  /* Firefox */
  font-size: 14px;
  font-size: 0.875rem;
}

:-webkit-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #a9b1b4;
  font-size: 14px;
  font-size: 0.875rem;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #a9b1b4;
  font-size: 14px;
  font-size: 0.875rem;
}

.input-text__input ::-ms-input-placeholder {
  color: #7c878e;
}

.input-text__input ::-webkit-input-placeholder {
  color: #7c878e;
}

.input-text__input ::placeholder {
  color: #7c878e;
}

/**
 * Basic typography style for copy text
 */
.seperator {
  display: block;
  height: 1px;
  background: #d0d3d4;
  margin: 6px auto;
  width: 90%;
}
.seperator.full {
  width: 100%;
}
.seperator-vertical {
  display: inline-block;
  width: 1px;
  background: #d0d3d4;
  margin: 0 15px;
  height: 80%;
  vertical-align: middle;
}
.seperator-vertical.full {
  height: 100%;
}

.dashed-seperator {
  display: block;
  height: 1px;
  margin: 6px auto;
  width: 90%;
  border-top: 1px dashed #d0d3d4;
}
.dashed-seperator.full {
  width: 100%;
}

.hide {
  display: none;
}

.spacer {
  width: 100%;
  display: block;
  height: 8px;
}

.bold {
  font-weight: 700;
}

.open {
  transform: scale(1) !important;
  height: auto !important;
  overflow: visible !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.view-all {
  padding: 0px 12px;
  font-size: 12px;
  font-size: 0.75rem;
}

@media (max-width: 991px) {
  .not-for-mobile {
    display: none;
  }
}

.margin-left__auto {
  margin-left: auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.align-unset {
  align-items: unset !important;
}

.margin-l2 {
  margin-left: 2rem;
}

.align-flex-end {
  align-items: flex-end !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.ml-2 {
  margin-left: 8px;
}

.gray-text {
  color: #7c878e !important;
}

.strike-through {
  text-decoration: line-through !important;
}

.red-text {
  color: #da1e28;
  margin-left: 8px;
}

.text-right {
  text-align: right !important;
}

.light-font {
  font-weight: 300 !important;
}

.top-full-margin {
  margin-top: 2rem;
}

.ml-auto {
  margin-left: auto !important;
}

.align-right-flex {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  text-align: center;
  padding: 6px 0 !important;
}

.vertical-base {
  vertical-align: baseline;
}

.right-link {
  display: block;
  text-align: right;
}
.right-link [class^=icon-] {
  font-size: 10px;
  margin-right: 8px;
}

.text-align-left {
  text-align: left;
}

.m-auto {
  margin: auto !important;
}

.mr-2 {
  margin-right: 8px !important;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/CRC25.otf") format("otf");
}
@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-thin.ttf") format("ttf");
}
.btn {
  background: #0076CE;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 6px 20px;
  border: 1px solid #0076CE;
  align-items: center;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  font-size: 0.875rem;
}
.btn [class^=icon-] {
  margin-right: 8px;
  color: #fff;
}
.btn .icon-cart {
  position: relative;
  top: -1px;
}
.btn:hover {
  background: #0064b7;
  outline: none;
}
.btn:hover [class^=icon-]:before {
  color: #0076CE;
}
.btn:focus {
  background: #004F9B;
  outline: none;
}
.btn:focus [class^=icon-]:before {
  color: #0076CE;
}
.btn:disabled, .btn.disabled {
  background: #E0E0E0;
  border: #d0d3d4;
  pointer-events: none;
}
.btn--block {
  width: 100%;
}
.btn--secondary {
  background: #fff;
  color: #0076CE;
}
.btn--secondary [class^=icon-]:before {
  color: #0076CE;
}
.btn--secondary:hover {
  background: #0076CE;
  color: #fff;
  outline: none;
}
.btn--secondary:hover [class^=icon-]:before {
  color: #fff;
}
.btn--secondary:focus {
  background: #004F9B;
  color: #fff;
  outline: none;
}
.btn--secondary:focus [class^=icon-]:before {
  color: #fff;
}
.btn--secondary.border-less {
  border: 1px solid transparent;
}
.btn--secondary:disabled, .btn--secondary.disabled {
  color: #E0E0E0;
  border: #d0d3d4;
  pointer-events: none;
  background: #fff;
}
.btn--icon-only {
  padding: 6px;
}
.btn--icon-only [class^=icon-] {
  margin: 0;
}

.input__group {
  width: 100%;
  background: #fff;
  border: 1px solid #e9ebeb;
  display: flex;
  align-items: center;
  border-radius: 4px;
  white-space: nowrap;
}
.input__group-btn {
  border: 0;
  background: #fff;
  padding: 6px 10px;
  border-radius: 4px;
}
.input__group-btn .icon-minus {
  font-size: 2px;
  vertical-align: middle;
}
.input__group-btn .icon-plus {
  font-size: 12px;
}
.input__group-btn:focus {
  outline: none;
  border: 0;
}
.input__group-input {
  border: 0;
  border-left: 1px solid #e9ebeb;
  border-right: 1px solid #e9ebeb;
  width: 40%;
  margin: 0 auto;
  padding: 6px 10px;
  text-align: center;
}
.input__group-input:focus {
  outline: none;
  border: 0 1px 0 1px;
}
.input__group--small {
  width: 100px;
  margin-right: 4px;
}
.input__group--small .input__group-btn {
  padding: 2px 6px;
}
.input__group--small .input__group-input {
  padding: 2px;
}

.form-input {
  width: 100%;
  border: 1px solid #d0d3d4;
  border-radius: 4px;
}
.form-input__group {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.form-input__group [class^=icon] {
  position: absolute;
}
.form-input__group input {
  padding: 4px 28px;
}
.form-input__group-left {
  padding: 6px;
  left: 0;
  color: #0076CE;
}
.form-input__group-right {
  padding: 6px;
  right: 0;
  font-size: 12px;
  font-size: 0.75rem;
}
.form-input:focus {
  border: 1px solid;
  border-color: #0076CE;
  outline: none;
}

.input-text {
  background: transparent;
  position: relative;
}
.input-text__input {
  border: 1px solid transparent;
  border-bottom: 1px solid #d0d3d4;
  width: 100%;
  background: #f4f5f5;
  padding: 6px 38px 1px 8px;
  outline: none;
  font-size: 14px;
  font-size: 0.875rem;
  color: #1A1A1A;
}
.input-text__input:focus {
  border: 1px solid #0076CE;
  background: #fff;
  outline: none;
}
.input-text__input:focus ~ [class^=icon] {
  opacity: 1;
}
.input-text__input:focus:after {
  color: red;
}
.input-text__input:disabled, .input-text__input .disabled {
  background: #F9F9F9;
}
.input-text .icon-arrow-bottom, .input-text .icon-cross {
  position: absolute;
  right: 12px;
  font-size: 10px;
  font-size: 0.625rem;
  top: 46px;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}
.input-text label {
  font-size: 12px;
  font-size: 0.75rem;
  color: #1A1A1A;
}
.input-text label .important {
  color: #da1e28;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 12px 0;
}
.list__item a {
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-size: 0.75rem;
  color: #1A1A1A;
}
.list__item a:hover {
  background: #e9ebeb;
  color: #1d252d;
}
.list__item.link > a {
  color: #0076CE;
}
.list__item-1 {
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-size: 0.75rem;
  color: #1A1A1A;
  margin: 0;
}
.list__item-1:hover {
  background: #e9ebeb;
  color: #1d252d;
}
.list__item-1 p {
  padding: 0;
  margin: 0;
}
.list__item-1.disabled {
  background: #e9ebeb;
  color: #1d252d;
}
.list-sub {
  list-style: none;
  padding: 0;
  margin: 0;
  padding: 12px 0;
  display: none;
}
.list-sub .list__item a {
  padding-left: 25px;
}

.breadcrumb__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #e9ebeb;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumb__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.breadcrumb__actions a {
  font-size: 12px;
  font-size: 0.75rem;
  margin-right: 18px;
}
.breadcrumb__actions a [class^=icon-] {
  margin-right: 8px;
}
.breadcrumb__actions a:last-child {
  margin: 0;
}
.breadcrumb__item {
  font-size: 12px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.breadcrumb__item a {
  padding: 8px;
  padding-left: 0;
}
.breadcrumb__item:after {
  content: "";
  display: inline-block;
  font-family: "svg-icon";
  padding-right: 10px;
}
.breadcrumb__item:last-child:after {
  display: none;
}
.breadcrumb__item--active a {
  color: #1A1A1A;
}

.files-box {
  border: 1px solid #d0d3d4;
  border-radius: 4px;
  padding: 20px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.files-box .icon-file {
  font-size: 30px;
  font-size: 1.875rem;
}
.files-box__heading {
  font-size: 16px;
  font-size: 1rem;
  margin-left: 8px;
}
.files-box__actions a {
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: 8px;
}

.cart-table {
  width: 100%;
  border: 0;
}
.cart-table tr:hover {
  background: #d7f2ff;
}
.cart-table tr:hover td .delete-item-link {
  display: block;
}
.cart-table tr td {
  text-align: center;
  padding: 8px;
  font-size: 14px;
  font-size: 0.875rem;
}
.cart-table tr td:first-child {
  text-align: left;
}
.cart-table tr td .delete-item-link {
  display: none;
}
.cart-table tr td .cart-item {
  color: #0076CE;
  font-weight: 700;
}
.cart-table tr td .icon-multiply {
  margin-left: 8px;
  font-size: 10px;
}
.cart-table__header td {
  border-bottom: 1px dashed #d0d3d4;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
.cart-table__header td:first-child {
  text-align: left;
}
.cart-table__header:hover {
  background: unset !important;
}
.cart-table__heading {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 28px;
  line-height: 1.75rem;
  margin-bottom: 0;
}

.tab-list {
  display: flex;
  margin: 0 15px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991px) {
  .tab-list {
    display: block;
  }
}
.tab-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
@media (max-width: 991px) {
  .tab-list ul {
    display: block;
    text-align: center;
  }
}
.tab-list__item {
  border-bottom: 4px solid transparent;
  padding: 10px 20px;
}
.tab-list__item a {
  font-size: 14px;
  font-size: 0.875rem;
}
.tab-list__item.active {
  border-color: #0076CE;
}
.tab-list__item.active a {
  color: #1A1A1A;
}
.tab-list__refine-item {
  padding: 10px 0;
}
.tab-list__refine-item a {
  color: #1A1A1A;
}
.tab-list__refine-item a[disabled], .tab-list__refine-item a.disabled {
  color: #d0d3d4;
}

.tile {
  background-color: #fff;
  box-shadow: 0px 3.2px 7.2px rgba(0, 0, 0, 0.04), 0px 0.6px 1.8px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 12px 12px;
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 50px;
}
.tile__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tile__row [class^=icon-] {
  cursor: pointer;
}
.tile__row--success {
  background: #defbe6;
  color: #32ae6f;
  font-weight: 700;
  padding: 12px;
  margin-bottom: 12px;
}
.tile__row--success p {
  font-size: 16px;
  font-size: 1rem;
  margin: 0;
}
.tile__col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
}
.tile__col-6:first-child {
  padding-left: 0;
}
.tile__col-6:last-child {
  padding-right: 0;
}
.tile__heading {
  display: flex;
  margin-top: 4px;
  height: 2.5rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
}
.tile__text {
  font-size: 14px;
  font-size: 0.875rem;
  height: 2.8125rem;
  overflow: hidden;
  color: #1A1A1A;
}
.tile__text.small-text {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 8px;
  height: auto;
}
.tile__text.sub-heading {
  height: auto;
  margin-top: 8px;
  margin-bottom: 0;
  font-weight: 700;
}
.tile__text.sub-heading i, .tile__text.sub-heading img {
  width: 24px;
  display: inline-block;
  text-align: center;
}
.tile__pricing {
  display: flex;
  flex-direction: column;
}
.tile__pricing p {
  margin-bottom: 0;
}
.tile__price {
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
}
.tile__validity {
  font-size: 12px;
  font-size: 0.75rem;
}
.tile--bordered {
  border-bottom: 4px solid #ffc400;
}
.tile__logo {
  display: flex;
  align-items: flex-start;
}
.tile__logo-title {
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
  height: 2.25rem;
  margin-left: 8px;
}
.tile__footer {
  position: absolute;
  left: 12px;
  right: 12px;
  bottom: 12px;
}
.tile__footer.bordered {
  border-top: 1px solid #e9ebeb;
  left: 0;
  right: 0;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
}
.tile__footer.bordered a {
  font-size: 12px;
  font-size: 0.75rem;
}
.tile__footer .only-link {
  text-align: right;
  display: block;
}
.tile--new-arrival {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
}
.tile__list {
  list-style: none;
  padding: 0;
}
.tile__list li {
  position: relative;
}
.tile__list p {
  margin-left: 26px;
  margin-top: 0 !important;
  padding-right: 92px;
  margin-bottom: 0;
  color: #7c878e;
}
.tile__list a {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 12px;
}
.tile__summary {
  border: 1px solid #d0d3d4;
  margin-top: 52px;
}
.tile__summary .tile__heading {
  height: auto;
  margin-bottom: 0;
  font-size: 18px;
  font-size: 1.125rem;
}
.tile__summary .tile__heading-sub {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 8px;
}
.tile__table {
  width: 100%;
}
.tile__table td {
  font-size: 14px;
  font-size: 0.875rem;
}
.tile__table td:first-child {
  text-align: left;
}
.tile__table td:last-child {
  text-align: right;
}
.tile__table td .grand-total {
  font-weight: 700;
  font-size: 30px;
  font-size: 1.875rem;
}
.tile__table td .sub-total {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: block;
}
.tile__table td .sub-total-count {
  font-size: 16px;
  font-size: 1rem;
}

[class^=content__col-] {
  margin-bottom: 10px;
}

.custom-checkbox {
  padding: 8px 0;
  position: relative;
}
.custom-checkbox input[type=checkbox] {
  padding: 0;
  position: absolute;
  z-index: 11;
  opacity: 0;
  width: 16px;
  cursor: pointer;
  top: 4px;
}
.custom-checkbox input[type=checkbox] ~ label {
  margin: 0;
  padding: 0 0 0 24px;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  font-size: 0.75rem;
}
.custom-checkbox input[type=checkbox] ~ label:before, .custom-checkbox input[type=checkbox] ~ label:after {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.custom-checkbox input[type=checkbox] ~ label:before {
  border: 1px solid #7c878e;
  background-color: #fff;
}
.custom-checkbox input[type=checkbox] ~ label:hover {
  color: #0076CE;
}
.custom-checkbox input[type=checkbox] ~ label:hover:before {
  border: 1px solid #0076CE;
}
.custom-checkbox input[type=checkbox]:checked ~ label:before {
  background-color: #0076CE;
}
.custom-checkbox input[type=checkbox]:checked ~ label:after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
}

.accordion {
  padding: 4px 0;
}
.accordion__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion__head h4 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0;
}
.accordion__head .icon-arrow-bottom {
  font-size: 8px;
  font-size: 0.5rem;
  transition: all ease-in 200ms;
}
.accordion__panel {
  position: relative;
  transition: all 0.3s ease-out;
  transform-origin: top;
  height: 0;
  transform: scaleY(0);
  transform-origin: top;
  overflow: hidden;
}
.accordion__panel-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.accordion__panel-row-1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin: 0;
  padding: 12px;
}
.accordion__panel-col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  margin: 0;
  padding: 0 8px;
}
@media (max-width: 991px) {
  .accordion__panel-col-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.accordion__panel-col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  margin: 0;
  padding: 0 8px;
}
@media (max-width: 991px) {
  .accordion__panel-col-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.accordion__panel-col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  margin: 0;
  padding: 0 8px;
}
@media (max-width: 991px) {
  .accordion__panel-col-7 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.accordion__panel-col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  margin: 0;
  padding: 0 8px;
}
@media (max-width: 991px) {
  .accordion__panel-col-5 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.accordion__panel--contain-hover-list {
  margin-left: -15px;
  margin-right: -15px;
}
.accordion--open .icon-arrow-bottom {
  transform: rotate(180deg);
}
.accordion--cart {
  border: 1px solid transparent;
  background-color: #fff;
  padding: 8px 16px;
  transition: all ease 0.3s;
  border-radius: 4px;
  font-size: 20px;
  font-size: 1.25rem;
}
.accordion--cart .accordion__head .icon-arrow-bottom {
  font-size: 12px;
  font-size: 0.75rem;
}
.accordion--cart:hover {
  box-shadow: 0 0 0.5rem 0.125rem rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 0 0.5rem 0.125rem rgba(0, 0, 0, 0.12);
}
.accordion--cart.accordion--open {
  border-color: #28a1eb;
}
.accordion--add-on .accordion__head {
  justify-content: left;
  font-size: 14px;
  position: relative;
  height: 30px;
}
.accordion--add-on .accordion__head:after {
  content: " ";
  display: block;
  width: 100%;
  border-top: 0.1px dashed #e9ebeb;
  height: 1px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}
.accordion--add-on .accordion__head .icon-arrow-bottom {
  font-size: 8px;
  font-size: 0.5rem;
  margin-right: 8px;
  color: #0076CE;
}
.accordion--add-on .accordion__head span {
  position: absolute;
  background: #fff;
  z-index: 11;
  left: 1px;
  min-width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.accordion .dropdown .dropdown__menu {
  left: 0;
  top: 35px;
  padding-bottom: 24px;
}
.accordion .dropdown .input-text {
  width: 100%;
}
.accordion .dropdown .input-text:after {
  content: "";
  position: absolute;
  font-family: "svg-icon";
  right: 11px;
  font-size: 10px;
  top: 10px;
}

.dropdown {
  display: flex;
  position: relative;
}
.dropdown__text {
  display: flex;
  align-items: center;
}
.dropdown__text--in-header {
  color: #fff;
}
@media (max-width: 1199px) {
  .dropdown__text--in-header {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.dropdown__text .icon-dropdown-arrow {
  font-size: 8px;
  margin-left: 8px;
}
.dropdown__heading {
  padding: 6px 12px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}
.dropdown__menu {
  position: absolute;
  background: #fff;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.13), 0px 1px 4px rgba(0, 0, 0, 0.11);
  border-radius: 2px;
  top: 30px;
  left: 8px;
  z-index: 11;
  width: 100%;
}
.dropdown__menu-item {
  padding: 6px 12px !important;
  color: #1A1A1A;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  text-decoration: none;
  display: flex;
  white-space: nowrap;
  padding: 4px;
  align-items: center;
  text-decoration: none;
}
.dropdown__menu-item [class^=icon] {
  margin-right: 8px;
}
.dropdown__menu-item-title {
  font-weight: 700;
}
.dropdown__menu-item-title:hover {
  background: #e9ebeb;
}
.dropdown__menu-item:hover {
  background: #e9ebeb;
}
.dropdown__menu-item img {
  margin-right: 8px;
}
.dropdown__menu-user-detail {
  padding: 10px;
  border-bottom: 1px solid #e1e1e3;
  background: rgba(0, 118, 206, 0.1);
}
.dropdown__menu-user-detail p {
  margin-bottom: 0;
}
.dropdown__menu.user-detail {
  left: -131px;
  top: 37px;
  min-width: 226px;
}
.dropdown__menu.help {
  min-width: 180px;
  left: -135px;
  top: 35px;
}
.dropdown__menu.help .icon-training {
  position: relative;
  left: -2px;
}
.dropdown__menu.notification {
  left: -413px;
  top: 35px;
  right: -18px;
  padding: 10px;
  width: auto;
}
.dropdown__menu.notification .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown__menu.notification .heading h3 {
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  margin-bottom: 0;
}
.dropdown__menu.notification .heading a {
  font-weight: normal;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  color: #0076CE;
}
.dropdown__menu.notification .sub-heading {
  color: #A9B1B4;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  margin-top: 10px;
}
.dropdown__menu.notification .sub-heading p {
  margin-bottom: 8px;
}
.dropdown__menu.notification .alert-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 8px;
}
.dropdown__menu.notification .alert-row .alert-col-left {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  display: flex;
  align-items: baseline;
}
.dropdown__menu.notification .alert-row .alert-col-left img {
  margin-right: 8px;
  width: 8px;
}
.dropdown__menu.notification .alert-row .alert-col-left p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  margin-bottom: 0;
}
.dropdown__menu.notification .alert-row .alert-col-right p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  margin-bottom: 0;
  color: #A9B1B4;
}
.dropdown__menu .icon-dropdown-arrow {
  position: absolute;
  top: -15px;
  right: 12px;
}
.dropdown.has-label .input-text:after {
  top: 42px;
}
.dropdown.has-label .dropdown__menu {
  top: 66px;
}
.dropdown .input-text__input {
  opacity: 0;
}
.dropdown.auto-complete-1 .input-text__input {
  opacity: 1;
}
.dropdown .link {
  padding: 6px 12px;
  font-size: 14px;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
}
.dropdown .link [class^=icon] {
  font-size: 12px;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

.auto-complete {
  border-radius: 0 0 15px 15px;
  border-top: 1px solid #d0d3d4;
  box-shadow: 0 4px 4px rgba(32, 33, 36, 0.28);
  position: absolute;
  left: 0;
  right: 0;
  top: 28px;
  background: #fff;
  padding: 0;
  z-index: 9;
}
.auto-complete__open {
  border-radius: 15px 15px 0 0;
}
.auto-complete__heading {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-between;
}
.auto-complete__heading h3 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  font-size: 16px;
  font-size: 1rem;
  line-height: 16px;
  line-height: 1rem;
  margin-bottom: 0;
  padding-left: 30px;
}
.auto-complete__heading a {
  padding-right: 30px;
}
.auto-complete__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.auto-complete__list li {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-size: 0.75rem;
  align-items: center;
  cursor: pointer;
  padding: 6px 15px;
}
.auto-complete__list li .auto-complete__list-item [class^=icon] {
  margin-right: 8px;
}
.auto-complete__list li:hover {
  background: #e9ebeb;
}
.auto-complete__list li:last-child {
  padding-bottom: 0;
}
.auto-complete__list li [class^=icon-]:hover:before {
  color: #0076CE;
}
.auto-complete--no-record-found {
  text-align: center;
}
.auto-complete--no-record-found .icon-search {
  font-size: 38px;
  font-size: 2.375rem;
  display: inline-block;
  margin: 20px auto;
}
.auto-complete--no-record-found .no-result-text {
  font-size: 16px;
  font-size: 1rem;
}
.auto-complete--no-record-found .text-blue {
  color: #003b7c;
}
.auto-complete--no-record-found .no-content {
  margin-bottom: 0;
  font-size: 18px;
  font-size: 1.125rem;
}
.auto-complete--no-record-found .no-content span {
  font-weight: 700;
}
.auto-complete--no-record-found .text-grey {
  color: #7c878e;
  font-size: 16px;
  font-size: 1rem;
}

.filter {
  min-height: 100%;
  border-right: 1px solid #e9ebeb;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.filter__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.filter__heading h3 {
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 0;
}
.filter__heading a {
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 0;
}
.filter__row {
  margin-bottom: 8px;
}

.banner-section {
  background-color: #06498c;
  display: flex;
  border-radius: 22px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 16px;
}
.banner-section__logo {
  position: absolute;
  left: 6.25rem;
  top: 2rem;
}
.banner-section__text {
  position: absolute;
  right: 3rem;
  top: 50%;
  margin: 0;
  width: 21rem;
  transform: translate(0, -50%);
  font-size: 24px;
  font-size: 1.5rem;
  color: #fff;
}

.bg-black {
  background: #0B1010;
}

.nav-link {
  font-family: "Lexend";
  color: #fff;
  font-size: 18px;
  font-size: 1.125rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 63px;
}
.main .banner {
  background: url("../images/landing/banner.jpg") no-repeat;
  height: 850px;
  background-size: cover;
  position: relative;
}
.main .banner-content {
  color: #FFFFFF;
  font-family: Lexend;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 88px;
  position: absolute;
  width: 31%;
  top: 50%;
  transform: translate(0, -50%);
}
.main .banner-green {
  background: url("../images/landing/what is padel background.svg") no-repeat;
  background-size: cover;
  padding-top: 109px;
  position: relative;
  top: -126px;
}
.main .content-box__left, .main .content-box__right {
  width: 100%;
}
.main .content-box__left img, .main .content-box__right img {
  width: 100%;
}

.p-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

/*# sourceMappingURL=main.css.map */
