// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.bg-black{
    background: #0B1010;
}
.nav-link{

    font-family: 'Lexend';
    color:#fff;
    @include font-size(18);

    &:hover{
        color:#00C635;
    }
    @include respond-below(sm){
        @include font-size(25);
    }
}
.main{
    display: flex;
    flex-direction: column;
    padding-top:63px;

    .banner{ 
        background: url("../images/landing/banner.jpg") no-repeat;
        height: 850px;
        // background-attachment:fixed ;
        background-size: cover;
        position: relative;
        &-content{
            // @include make-container(1140px);
            color: #FFFFFF;
            font-family: Lexend;
            @include font-size(70);
            font-weight: 600;
            letter-spacing: 0;
            @include line-height(88);
            &-container {
                position: absolute;
                width: 31%;
                top: 50%;
                transform: translate(0, -50%);
                @include respond-below(sm){
                    width: 48%;
                    transform: translate(50%, 32px);
                    top: 0;
                
                }
                @include respond-below(xs){
                width: 90%;
                transform: none;
                top: 12px;
                left: 32px;
                @include font-size(16);}
            }
            @include respond-below(sm){
                @include font-size(30);
                @include line-height(30);
            }
        }
        @include respond-below(sm){
            background: url("../images/landing/banner-mobile.png") repeat-x;
        height: 580px;
        // background-attachment:fixed ;
        background-size: contain;
        }
       
    }
    .banner-green{
        background: url('../images/landing/what\ is\ padel\ background.svg') no-repeat;
        // background-attachment:fixed ;
        background-size: cover;
        padding-top: 109px;
        position: relative;
        top: -126px;
        padding-bottom: 155px;
        @include respond-below(sm){
            top: -248px;
            background-size: auto;
            background-position-x: 87%;
            padding-bottom: 37px;

        }
        h2{
            color: #FFFFFF;
            font-family: 'Lexend';
            @include font-size(70);
            font-weight: 600;
            letter-spacing: 0;
            // @include line-height(85);
            span{
                @include font-size(25);
                font-weight: 600;
                letter-spacing: 0;
                display: block;
            }

            @include respond-below(sm){
                color: #0B1010;
            }
        }
        p {
        color: #FFFFFF;
        font-family: 'Circe';
        letter-spacing: 0;
        @include font-size(18);
        @include line-height(26);
    }

        
    }
    .content-box{
        &__left,&__right{
            width:100%;

            img{width: 100%;}
        }

        
    }
}
.p-fixed{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 11;
}

.skew-spacer{
    height: 145px;
    transform: skewY(4deg);
    position: relative;
    top: -204px;
    background: #fff;
    width: 100%;


    @include respond-below(sm){
        height: 62px;
        top: -275px;
    }
}
.content-about {
    position: relative;
    top: -188px;
}
.footer{
    background-color: #0D1312;
    padding-top: 3rem;
    h4{
    margin-top:2rem;
    color: #FFFFFF;
    font-family: 'Lexend';
    @include font-size(18);
    font-weight: 600;
    letter-spacing: 0;
    @include line-height(23);
    text-transform: uppercase;
    }
    .social-links{
        a{
            color:#fff;

            &:hover {
                [class^="icon-"]{ color: #00C635;}}
        }
        [class^="icon-"]{ 
            font-size: 2rem;
            color:#fff;
        }
    }

    .contact-detail{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        a{
            color: #fff;
            font-family: 'Lexend';
            @include font-size(18);
            font-weight: 600;
            letter-spacing: 0;
            @include line-height(23);
            border-bottom:2px solid transparent;
            display: inline-block;

            &:hover{
                color:#fff;
                border-bottom:2px solid #00C635;
            }
        }
    }
    h5{
        color: #FFFFFF;
        font-family: 'Lexend';
        @include font-size(50);
        font-weight: 600;
        letter-spacing: 0;
        @include line-height(63);
        text-align: right;
    }
}

.seprator-white{

    border-bottom:1px solid #fff;
    padding:1.5rem 0;
}

.navbar{
    padding:.5rem 0;

    .navbar-nav{

        .nav-item{
            position: relative;
            &:last-child .nav-link{
            padding-right: 0;
        }
        @include respond-below(sm) {
            text-align: center;
        }
    }
    }
}


.navbar-toggler{  
    border: none;
    background: none;
    position: relative;
    width: 27px;
    height: 20px;
    padding: 0;
    &-icon{

         span {
            width: 27px;
            height: 2px;
            background: #fff;
            display: block;
            margin-bottom: 6px;
            transition: all 0.3s ease-in-out;
            float: right;
            &:nth-child(2) {
            width: 23px;
            }
            &:nth-child(3) {
                width: 16px;
            }
    
        }
    }
    &:focus{ outline:none; border:none;}
}
.navbar-toggler{

    &[aria-expanded="true"]{
    .navbar-toggler-icon{

        span:nth-child(1) {
           transform: rotate(45deg);
           transform-origin: left top;
           position: absolute;
           top: 0;
           left: 5px;
           width: 25px;
           margin-bottom: 0
       }
        span:nth-child(3) {
           transform: rotate(-45deg);
           transform-origin: right top;
           position: absolute;
           top: 0;
           right: 5px;
           width: 25px;
       }
        span:nth-child(2) {
           opacity: 0;
       }
    }
    }
}



.color-primary{
    color:#00C635;
}


.desktop{

    @include respond-below(sm){
        display: none  !important;
    }


}
.mobile{
    display: none;
    @include respond-below(sm){
        display: inline-block;
    }
    &.mobile-adjust{
        position: relative;
        top:-42px;
    }

}

.navbar-brand .mobile{
vertical-align: middle;
}

.dropdown-menu{
  
  font-family: 'Circe';
  @include font-size(18);
  letter-spacing: 0;
  @include line-height(26);

    @include respond-below(sm){

        background-color: #0B1010;
        color:#fff;
        text-align: center;
    }
    .dropdown-item{
        @include respond-below(sm){
            font-style: italic;
            background-color: #0B1010;
            color:#fff;
        }   
    }

}
.small-font .nav-link{
    @include font-size(14) ;
}

.news-letter-input{
    background: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #00C635;
    border-radius: 0;
    padding-right: 20px;
    min-width: 17rem;

    &:focus{
        background:transparent;
        outline: none;
        border-color: transparent;
        border-bottom-color:#00C635 ;
        box-shadow: none;
    }
    
}
::placeholder {
    color: #00C635 !important;
    opacity: 1; /* Firefox */
    font-family: 'Circe';
    @include font-size(20);
    letter-spacing: 0;
    @include line-height(29);
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #00C635 !important;
   font-family: 'Circe';
    @include font-size(20);
    letter-spacing: 0;
    @include line-height(29);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #00C635 !important;
   font-family: 'Circe';
    @include font-size(20);
    letter-spacing: 0;
    @include line-height(29);
  }

.rel{
    position: relative;
    .abs{
        position: absolute;
        right: 0;
        cursor: pointer;
        color: #00C635;
    }
}

.btn-outline {
    border-color: green;
    border-radius: 20px;
    background: transparent;
    font-family: 'Circe';
    @include font-size(18);
    letter-spacing: 0;
    @include line-height(26);

&:hover,&:focus{
    background-color: #fff;
    box-shadow: none;
    outline: none;
}
}