// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.bg-black{
    background: #0B1010;
}
.nav-link{

    font-family: 'Lexend';
    color:#fff;
    @include font-size(18);
}
.main{
    display: flex;
    flex-direction: column;
    padding-top:63px;

    .banner{ 
        background: url("../images/landing/banner.jpg") no-repeat;
        height: 850px;
        // background-attachment:fixed ;
        background-size: cover;
        &-content{
            // @include make-container(1140px);
            color: #FFFFFF;
            font-family: Lexend;
            font-size: 70px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 88px;


            width: 50%;
        }
    }
    .banner-green{
        background: url('../images/landing/what\ is\ padel\ background.svg') no-repeat;
        // background-attachment:fixed ;
        background-size: cover;
        padding-top: 109px;
        position: relative;
        top: -126px;
    }
    .content-box{
        &__left,&__right{
            width:100%;

            img{width: 100%;}
        }
    }
}
.p-fixed{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
}