
.dropdown{

    display:flex;
    position: relative;


&__text{
    display: flex;
    align-items: center;
    &--in-header{ 
        color:#fff;
    
        @include respond-below(lg){
            display: block;
            text-align: center;
            width: 100%;
        }
    }
    .icon-dropdown-arrow{ font-size:8px; margin-left:8px;}
 }

 &__heading{
     padding: 6px 12px;
     @include font-size($heading-6);
     font-weight: 700;
 }
&__menu{ 

    position: absolute;
    background: #fff;
    box-shadow: 0px 6px 15px rgb(0 0 0 / 13%), 0px 1px 4px rgb(0 0 0 / 11%);
    border-radius: 2px;
    top: 30px;
    left: 8px;
    z-index: 11;
    width:100%;
    &-item{
            padding: 6px 12px !important;
            color: $black;
            @include font-size($link-text);
            @include line-height($line-height-16);
            text-decoration: none;
            display: flex;
            white-space: nowrap;
            padding: 4px;
            align-items: center;
            text-decoration: none;

            [class^='icon']{ margin-right:8px;}

        &-title{
            font-weight: 700;
            &:hover{
                background:$list-hover;
            }
        }

        &:hover{
            background:$list-hover;
        }

        img{ margin-right:8px;}
    } 

    &-user-detail{
        padding: 10px;
        border-bottom: 1px solid #e1e1e3;
        background: rgba(#0076CE,0.1);
        p{ margin-bottom:0;}

     
    }
    &.user-detail{ 
        left: -131px;
        top: 37px;
        min-width: 226px;
    }
    &.help{
        min-width: 180px;
        left: -135px;
        top: 35px;
        .icon-training {
            position: relative;
            left: -2px;
        }
    }
    &.notification{
        left: -413px;
        top: 35px;
        right: -18px;
        padding: 10px;
        width:auto;
 
        .heading {
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                font-weight: 700;
                @include font-size($heading-6);
                @include line-height($line-height-16);
                margin-bottom: 0;
            }
            a {
                font-weight: normal;
                @include font-size($paragraph-small);
                @include line-height($line-height-16);
                color: #0076CE;
            }

            }

            .sub-heading {
                color: #A9B1B4;
                @include font-size($paragraph-small);
                @include line-height($line-height-16);
                margin-top: 10px;
                p{ margin-bottom: 8px;}

               
                }

        .alert-row{

            @include make-row();
            justify-content: space-between;
            padding: 0 15px;
            margin-bottom: 8px;
            .alert-col-left{
                @include make-col(8);
                display: flex;
                align-items: baseline;
                img{ margin-right: 8px; width:8px;}
                p{
                    @include font-size($paragraph-small);
                    @include line-height($line-height-16); margin-bottom:0;}
            }
            .alert-col-right{
               p{
                @include font-size($paragraph-small);
                @include line-height($line-height-16); margin-bottom:0;
                color:#A9B1B4;
               }
            }
        }

        
    }
    
    .icon-dropdown-arrow{ 
        position: absolute;
        top: -15px;
        right: 12px;
    }
}
&.has-label {

    .input-text:after{ top:42px;}

    .dropdown__menu {
        top:66px;
    }
}

.input-text__input{ opacity: 0;}
&.auto-complete-1{
    .input-text__input{ opacity: 1;}
}
.link{ 
    padding: 6px 12px;
    @include font-size($paragraph-normal);
    display: flex;
        align-items: center;

    [class^='icon'] {
        font-size: 12px;
        margin-right: 6px;
        position: relative;
        top: -1px;
        
    }
}
}
