@font-face {
  font-family: 'Lexend';
  src: local('Lexend ExtraBold'), local('Lexend-ExtraBold'),
      url('../fonts/Lexend-ExtraBold.woff2') format('woff2'),
      url('../fonts/Lexend-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: local('Lexend Light'), local('Lexend-Light'),
      url('../fonts/Lexend-Light.woff2') format('woff2'),
      url('../fonts/Lexend-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: local('Lexend Bold'), local('Lexend-Bold'),
      url('../fonts/Lexend-Bold.woff2') format('woff2'),
      url('../fonts/Lexend-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: local('Lexend Medium'), local('Lexend-Medium'),
      url('../fonts/Lexend-Medium.woff2') format('woff2'),
      url('../fonts/Lexend-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: local('Lexend Regular'), local('Lexend-Regular'),
      url('../fonts/Lexend-Regular.woff2') format('woff2'),
      url('../fonts/Lexend-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: local('../fonts/Lexend SemiBold'), local('Lexend-SemiBold'),
      url('../fonts/Lexend-SemiBold.woff2') format('woff2'),
      url('../fonts/Lexend-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src: local('Lexend Thin'), local('Lexend-Thin'),
      url('../fonts/Lexend-Thin.woff2') format('woff2'),
      url('../fonts/Lexend-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Circe Extra';
  src: url('Circe-ExtraLight.eot');
  src: local('Circe Extra Light'), local('Circe-ExtraLight'),
      url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-ExtraLight.woff2') format('woff2'),
      url('../fonts/Circe-ExtraLight.woff') format('woff'),
      url('../fonts/Circe-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Light.eot');
  src: local('Circe Light'), local('Circe-Light'),
      url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-Light.woff2') format('woff2'),
      url('../fonts/Circe-Light.woff') format('woff'),
      url('../fonts/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
      url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-Regular.woff2') format('woff2'),
      url('../fonts/Circe-Regular.woff') format('woff'),
      url('../fonts/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: url('../fonts/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
      url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Circe-Bold.woff2') format('woff2'),
      url('../fonts/Circe-Bold.woff') format('woff'),
      url('../fonts/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wmzsyq');
  src:  url('../fonts/icomoon.eot?wmzsyq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wmzsyq') format('truetype'),
    url('../fonts/icomoon.woff?wmzsyq') format('woff'),
    url('../fonts/icomoon.svg?wmzsyq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
  content: "\e900";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}


